<div class="container">
  <div class="clock">
    <ion-button class="back-button" (click)="moveToHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <div class="hours-layout">
      <div class="hours hours-text">
        <div class="header-hy">
          <span>Rutina A</span>
          <ion-icon class="ion-icon" name="clipboard-outline"></ion-icon>
        </div>
        <span class="quote">Modifica/Crea tu rutina</span>
      </div>
    </div>
    <div class="divider bg-dark"></div>
  </div>
</div>
